/* ========================================= */
/* GLOBAL RESET */
/* ========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================================= */
/* HTML + BODY */
/* ========================================= */

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Inter, sans-serif;
}

/* ========================================= */
/* APP LAYOUT */
/* ========================================= */

.app-container {

  display: flex;

  width: 100%;

  height: 100vh;

  background: #f4f6f9;

}

/* ========================================= */
/* SIDEBAR */
/* ========================================= */

.sidebar {

  width: 300px;

  min-width: 300px;

  height: 100vh;

  background: #001632;

  display: flex;

  flex-direction: column;

  padding: 40px;

  gap: 14px;

}

/* ========================================= */
/* LOGO */
/* ========================================= */

.logo {

  color: white;

  font-size: 42px;

  font-weight: 800;

  margin-bottom: 30px;

}

/* ========================================= */
/* SIDEBAR MENU */
/* ========================================= */

.menu-item {

  display: flex;

  align-items: center;

  gap: 14px;

  height: 55px;

  padding: 0 16px;

  border-radius: 12px;

  color: white;

  text-decoration: none;

  font-size: 20px;

  transition: 0.2s;

}

/* ========================================= */
/* HOVER */
/* ========================================= */

.menu-item:hover {

  background: #0c274d;

}

/* ========================================= */
/* ACTIVE */
/* ========================================= */

.menu-item.active {

  background: #123869;

}

/* ========================================= */
/* CONTENT AREA */
/* ========================================= */

.content-area {

  flex: 1;

  display: flex;

  flex-direction: column;

  overflow: hidden;

}

/* ========================================= */
/* TOPBAR */
/* ========================================= */

.topbar {

  height: 80px;

  background: white;

  display: flex;

  justify-content: flex-end;

  align-items: center;

  gap: 50px;

  padding: 0 50px;

  border-bottom: 1px solid #e5e7eb;

}

/* ========================================= */
/* PAGE CONTAINER */
/* ========================================= */

.page-container {

  flex: 1;

  overflow-y: auto;

}